---
import { CardContent, Card } from "@/ui/card";

import type { UserProps } from "@/interfaces/User";

import { UserButton } from "@/components/UserButton";
import { CreateLink } from "@/components/CreateLink";
import { ShorterLink } from "@/components/ShorterLink";

import { getSession } from "auth-astro/server";

import { getUserByEmail, createUser } from "@/Shared/db";

const session = await getSession(Astro.request);

let user: UserProps | null = null;

// user exists?
if (
  !(
    session === null ||
    session === undefined ||
    session.user === null ||
    session.user === undefined ||
    session.user?.email === null ||
    session.user?.email === undefined ||
    session.user?.name === null ||
    session.user?.name === undefined
  )
) {
  const userExists = await getUserByEmail(session.user.email);

  if (userExists.success && userExists.data === null) {
    await createUser({ name: session.user.name, email: session.user.email })
  }

  user = userExists.data!;
}
---

<main
  class="flex min-h-[100dvh] items-center justify-center bg-gray-100 px-4 dark:bg-gray-950"
>
  <div class="w-full max-w-md space-y-6">
    <div class="flex items-center justify-between">
      <div class="text-start">
        <h1 class="text-3xl font-bold tracking-tight sm:text-4xl">Nanolink</h1>
        <p class="mt-2 text-gray-500 dark:text-gray-400">
          Shorten your long URLs with ease.
        </p>
      </div>
      <UserButton session={session} client:load />
    </div>
    <Card>
      <CardContent className="space-y-4">
        <CreateLink user={user} client:load />
        <ShorterLink client:load />
      </CardContent>
    </Card>
  </div>
</main>
