---
import Layout from "@/layouts/Layout.astro";

import { getUserByEmail, createUser, getLinksByUser } from "@/Shared/db";

import type { UserProps } from "@/interfaces/User";
import type { LinkProps } from "@/interfaces/Link";

import { ShortenLinks } from "@/section/ShortenLinks";

import { Card, CardContent, CardDescription, CardHeader, CardTitle } from "@/ui/card";

import { getSession } from "auth-astro/server";
const session = await getSession(Astro.request);

let user: UserProps | null = null;
let links: LinkProps[] = [];

// user exists?
if (
  !(
    session === null ||
    session === undefined ||
    session.user === null ||
    session.user === undefined ||
    session.user?.email === null ||
    session.user?.email === undefined ||
    session.user?.name === null ||
    session.user?.name === undefined
  )
) {
  const userExists = await getUserByEmail(session.user.email);

  if (userExists.success && userExists.data === null) {
    await createUser({ name: session.user.name, email: session.user.email });
  }

  user = userExists.data!;
  console.log("🚀 ~ user:", user);

  if (user !== null) {
    const response = await getLinksByUser(user.id!);

    if (response.success && response.data) {
      links = response.data;
    }
  }
}
---

<Layout session={session} title="Home">
  <div class="w-full grid gap-4 md:gap-8 place-content-center my-12 md:my-4">
    <Card className="xl:col-span-2" x-chunk="dashboard-01-chunk-4">
      <CardHeader className="flex flex-row items-center">
        <div class="grid gap-2">
          <CardTitle>Shorten Links</CardTitle>
          <CardDescription>
            Recent shortened links from your account.
          </CardDescription>
        </div>
        <!-- <Button asChild size="sm" class="ml-auto gap-1">
          <Link href="#">
            View All
            <ArrowUpRight class="h-4 w-4" />
          </Link>
        </Button> -->
      </CardHeader>
      <CardContent>
        <ShortenLinks links={links} client:load />
      </CardContent>
    </Card>
  </div>
</Layout>
