---
import Layout from "@/layouts/Layout.astro";

import { ShortenLinks } from "@/sections/ShortenLinks";

import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle,
} from "@/ui/card";

import { getSession } from "auth-astro/server";

import { upsertUser } from "@/Shared/User";
import { upsertLink } from "@/Shared/Link";

const session = await getSession(Astro.request);

const user = await upsertUser(session);
const links = await upsertLink(user);
---

<Layout session={session} title="Home">
  <div class="w-full grid gap-4 md:gap-8 place-content-center my-12 md:my-4">
    <Card className="xl:col-span-2" x-chunk="dashboard-01-chunk-4">
      <CardHeader className="flex flex-row items-center">
        <div class="grid gap-2">
          <CardTitle>Shorten Links</CardTitle>
          <CardDescription>
            Recent shortened links from your account.
          </CardDescription>
        </div>
        <!-- <Button asChild size="sm" class="ml-auto gap-1">
          <Link href="#">
            View All
            <ArrowUpRight class="h-4 w-4" />
          </Link>
        </Button> -->
      </CardHeader>
      <CardContent>
        <ShortenLinks links={links} client:load />
      </CardContent>
    </Card>
  </div>
</Layout>
