---
import Layout from "@/layouts/Layout.astro";

import { Home } from "@/sections/Home";

import { getSession } from "auth-astro/server";

import { upsertUser } from "@/Shared/User";

const session = await getSession(Astro.request);
console.log("🚀 ~ session:", session)
const user = await upsertUser(session);
---

<Layout user={user} title="Home">
  <div
    class="w-full grid gap-4 md:gap-8 place-content-center my-12 md:my-4 space-y-8"
  >
    <div class="flex items-center justify-between gap-8">
      <div class="text-start">
        <h1
          class="text-3xl font-bold tracking-tight sm:text-4xl text-foreground capitalize"
        >
          bittyurl
        </h1>
        <p class="mt-2 text-gray-400 dark:text-gray-400">
          Shorten your long URLs with ease, and share them with anyone.
        </p>
      </div>
    </div>
    <Home client:load />
  </div>
</Layout>
