---
import "@/styles/globals.css";

import Layout from "@/layouts/Layout.astro";

import { Button } from "@/ui/button";
import { Input } from "@/ui/input";
---

<Layout title="Welcome to Astro.">
  <Input />
  <Button>Button</Button>
</Layout>