---
import Layout from "@/layouts/Layout.astro";

import { getUserByEmail, createUser, getLinksByUser } from "@/Shared/db";

import type { UserProps } from "@/interfaces/User";
import type { LinkProps } from "@/interfaces/Link";

import { Home } from "@/section/Home";

import { getSession } from "auth-astro/server";
const session = await getSession(Astro.request);

let user: UserProps | null = null;
let links: LinkProps[] = [];

// user exists?
if (
  !(
    session === null ||
    session === undefined ||
    session.user === null ||
    session.user === undefined ||
    session.user?.email === null ||
    session.user?.email === undefined ||
    session.user?.name === null ||
    session.user?.name === undefined
  )
) {
  const userExists = await getUserByEmail(session.user.email);

  if (userExists.success && userExists.data === null) {
    await createUser({ name: session.user.name, email: session.user.email });
  }

  user = userExists.data!;
  console.log("🚀 ~ user:", user);

  if (user !== null) {
    const response = await getLinksByUser(user.id!);

    if (response.success && response.data) {
      links = response.data;
    }
  }
}
---

<Layout session={session} title="Home">
  <div class="w-full grid gap-4 md:gap-8 place-content-center my-12 md:my-4 space-y-8">
    <div class="flex items-center justify-between gap-8">
      <div class="text-start">
        <h1
          class="text-3xl font-bold tracking-tight sm:text-4xl text-foreground capitalize"
        >
          bittyurl
        </h1>
        <p class="mt-2 text-gray-400 dark:text-gray-400">
          Shorten your long URLs with ease, and share them with anyone.
        </p>
      </div>
    </div>
    <Home user={user} client:load />
  </div>
</Layout>
