---
import GoogleIcon from "@/icons/GoogleIcon";

import Layout from "@/layouts/Layout.astro";

import { Button } from "@/ui/button";
import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle,
} from "@/ui/card";

import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request);
console.log("🚀 ~ session:", session);

if (session !== null && session !== undefined) {
  return Astro.redirect("/");
}
---

<Layout title="Bittyurl | Login">
  <Card className="mx-auto max-w-md p-8 bg-gray-900 text-gray-100">
    <CardHeader>
      <CardTitle className="text-2xl">Login</CardTitle>
      <CardDescription> Login your account with Google </CardDescription>
    </CardHeader>
    <CardContent>
      <div class="grid gap-4">
        <Button variant="secondary" className="w-full gap-4">
          <GoogleIcon />
          Access with Google
        </Button>
      </div>
    </CardContent>
  </Card>
</Layout>

<script>
  import { signIn } from "auth-astro/client";

  const login = () => {
    signIn("google");
  };

  document.querySelector("button")?.addEventListener("click", login);
</script>
