---
import Layout from "@/layouts/Layout.astro";

import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle,
} from "@/ui/card";

import { LoginButton } from "@/components/auth/LoginButton";

import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request);
if (session !== null && session !== undefined) {
  return Astro.redirect("/");
}
---

<Layout session={session} title="Join us">
  <Card className="mx-auto max-w-lg text-center p-8 my-12 md:my-4 space-y-8 bg-background text-foreground">
    <CardHeader>
      <CardDescription>Welcome to.</CardDescription>
      <CardTitle className="text-4xl capitalize">bittyurl</CardTitle>
    </CardHeader>
    <CardContent>
      <div class="grid gap-4">
        <LoginButton provider="google" client:only="react" />
      </div>
    </CardContent>
  </Card>
</Layout>
