---
import type { Session } from "@auth/core/types";

import { Header } from "@/section/Header";

interface Props {
  title: string
  session: Session | null
}

const { title, session } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Bittyurl" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="flex min-h-screen w-full flex-col">
      <Header client:load session={session} />
      <main
        class="flex min-h-[100dvh] items-center justify-center px-4 bg-background"
      >
        <slot />
      </main>
    </div>
  </body>
</html>
<style is:global>
  @import "@/styles/globals.css";

  html,
  body {
    font-family: system-ui, sans-serif;
  }

  html {
    box-sizing: border-box;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
</style>
